In [ ]:
import json
import pandas as pd

# Analyzing data quality issues

## 1. Checking top 5 rows for a brief picture of how data looks like in each of the tables (Checks: Datatypes of each variables, Data quantity)

In [ ]:
brands_df = pd.read_json('brands.json', lines=True)
brands_df.head()

                                    _id  ...                      brandCode
0  {'$oid': '601ac115be37ce2ead437551'}  ...                            NaN
1  {'$oid': '601c5460be37ce2ead43755f'}  ...                      STARBUCKS
2  {'$oid': '601ac142be37ce2ead43755d'}  ...  TEST BRANDCODE @1612366146176
3  {'$oid': '601ac142be37ce2ead43755a'}  ...  TEST BRANDCODE @1612366146051
4  {'$oid': '601ac142be37ce2ead43755e'}  ...  TEST BRANDCODE @1612366146827

[5 rows x 8 columns]

In [ ]:
brands_df.shape

(1167, 8)

In [ ]:
receipts_df = pd.read_json('receipts.json', lines=True)
receipts_df.head()

                                    _id  ...                    userId
0  {'$oid': '5ff1e1eb0a720f0523000575'}  ...  5ff1e1eacfcf6c399c274ae6
1  {'$oid': '5ff1e1bb0a720f052300056b'}  ...  5ff1e194b6a9d73a3a9f1052
2  {'$oid': '5ff1e1f10a720f052300057a'}  ...  5ff1e1f1cfcf6c399c274b0b
3  {'$oid': '5ff1e1ee0a7214ada100056f'}  ...  5ff1e1eacfcf6c399c274ae6
4  {'$oid': '5ff1e1d20a7214ada1000561'}  ...  5ff1e194b6a9d73a3a9f1052

[5 rows x 15 columns]

In [ ]:
receipts_df.shape

(1119, 15)

In [ ]:
users_df = pd.read_json('users.json', lines=True)
users_df.head()

                                    _id  active  ... signUpSource state
0  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  ...        Email    WI
1  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  ...        Email    WI
2  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  ...        Email    WI
3  {'$oid': '5ff1e1eacfcf6c399c274ae6'}    True  ...        Email    WI
4  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  ...        Email    WI

[5 rows x 7 columns]

In [ ]:
users_df.shape

(495, 7)

## 2. Checking for null entries in each of the tables

In [ ]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

In [ ]:
brands_df.isnull().any()

_id             False
barcode         False
category         True
categoryCode     True
cpg             False
name            False
topBrand         True
brandCode        True
dtype: bool

In [36]:
users_df.isnull().any()

_id             False
active          False
createdDate     False
lastLogin        True
role            False
signUpSource     True
state            True
dtype: bool

In [37]:
receipts_df.isnull().any()

_id                        False
bonusPointsEarned           True
bonusPointsEarnedReason     True
createDate                 False
dateScanned                False
finishedDate                True
modifyDate                 False
pointsAwardedDate           True
pointsEarned                True
purchaseDate                True
purchasedItemCount          True
rewardsReceiptItemList      True
rewardsReceiptStatus       False
totalSpent                  True
userId                     False
dtype: bool

# Data Quality issues:
1. Each of the tables has null values in few variables, needs to be imputed or dropped
2. Some columns have semi structured entries (.json values) which can be granulated to specific columsn in turn helps in ease of analyzing the data.
3. Variable datatypes needs to be corrected.